<section class="article-list">
    
             <a href="detail.html">
        <article id="fotogran">
            <img id="cover1" src="img/bosco1.jpg">
            <div class="artist">Nombre del objeto</div>
            <div class="article">Titulo</div>
        </article>
        <div class="caixa-fotos-esquerra"></div>
             </a>
        <article class="foto-decoracio">
            <img class="cover" src="img/moble2.jpg">
            <div class="artist">Nombre del objeto</div>
            <div class="article">Titulo</div>
        </article>
    </div>
    
    <div class="caixa-fotos-dreta">
         <article class="foto-decoracio">
            <img class="cover" src="img/moble3.jpg">
            <div class="artist">Nombre del objeto</div>
            <div class="article">Titulo</div>
         </article>
         <article class="foto-decoracio">
            <img class="cover" src="img/moble4.jpg">
            <div class="artist">Nombre del objeto</div>
            <div class="article">Titulo</div>
         </article>
    </div>
        
</section>