<nav class="web-navegador">

        <div class="cajanavegador">
                <img class="icono" src="img/logoartdecor.png">
        </div>
                <a href="">
        <div class="cajanavegador">
                <img class="icono" src="img/home.png"> 
        </div>
        <div>
                <p class="lletres">HOME</p> 
        </div>
                        </a>

                <a href="">
        <div class="cajanavegador">
                <img class="icono" src="img/about.png">
        </div>
        <div>
                <p class="lletres">ABOUT</p>
        </div>
                </a>

                <a href="">
         <div class="cajanavegador">
                <img class="icono" src="img/photos.png">
        </div>
        <div>
                <p class="lletres">PHOTOS</p>
        </div>
                </a>
                
                <a href="">
        <div class="cajanavegador">
                <img class="icono" src="img/contact.png">
        </div>
        <div>
                <p class="lletres">CONTACT</p>
        </div>
                </a>
    
        </nav>
    
    